body {
    background-color: aqua;
}
.title {
    color: rgb(5, 5, 248);
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(252, 252, 5);
    text-align: center;
}
a {
    color: rgb(255, 0, 0);
    text-align: center;
}
b {
    color: rgb(5, 5, 248);
}
.sola-kaydir{
    float:left;
    padding:0 10px 10px 0;
    }
 ul{
    display: inline-block;
    margin-right: 30px;
    width: max-content;
 }
 ol{
    color:red
 }
 .players {
    display: flex;
    justify-content: space-evenly;
 }